/* ===================================================================
 * # RECENT ARTICLES SECTION
 *
 *
 * ------------------------------------------------------------------- */
.recent-articles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: var(--vspace-2) 0;
    margin-top: 80px;
}

/* --------------------------------------------------------------------
 * # PRODUCTS - HEAD
 * -------------------------------------------------------------------- */
.recent-articles-head {
    display: flex;
    align-items: center;
    padding: 0 0 var(--vspace-1_5) 0;
}

.recent-articles-title {
    line-height: 1;
    color: var(--color-black);
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Ultra Bold';
    margin: 0;
}

/* --------------------------------------------------------------------
 * # RECENT ARTICLES - BODY
 * -------------------------------------------------------------------- */

.recent-articles-body {
    height: fit-content;
}

.recent-articles-body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: var(--color-gray-1); */
}

.recent-articles-body-wrapper {
    margin: 0;
    padding: 0 calc(var(--gutter)* 2);
    display: flex;
    flex-flow: row wrap;
}

.recent-articles-body-wrapper .column {
    margin: 0 0 var(--vspace-0_5) 0;
}

.recent-articles-card {
    position: relative;
    margin: 0 var(--vspace-0_25);
    transition: 0.5s;
    cursor: pointer;
}

.recent-articles-card:hover {
    transform: scale(1.025);
    z-index: 1;
}

.recent-articles-card:hover .recent-articles-caption .title a {
    font-size: calc(var(--text-sm) * 1.01);
    color: #fc3f00;
}

.recent-articles-category {
    width: fit-content;
    position: absolute;
    margin: var(--vspace-0_25);
    opacity: 90%;
}

.recent-articles-category p {
    background: var(--color-gray-10);
    padding: var(--vspace-0_25);
    font-family: 'Monument Extended Regular';
    font-size: calc(var(--text-xs) * 0.75);
}

.recent-articles-img img {
    width: 100%;
    aspect-ratio: 4/3;
    display: block;
}

.recent-articles-caption {
    background: var(--color-white);
    width: 100%;
    transition: all 0.4s ease-out 0s;
    background-color: var(--color-gray-5);
    aspect-ratio: 4/2.5;
    padding: var(--vspace-0_5);
    font-family: 'Monument Extended Regular';
}

.recent-articles-caption .date {
    height: fit-content;
    margin-bottom: var(--vspace-0_25);
}

.recent-articles-caption .date p {
    font-family: 'Montserrat Medium';
    font-size: var(--text-xs);
}

.recent-articles-caption .title {
    height: fit-content;
    margin-bottom: var(--vspace-0_25);
}

.recent-articles-caption .title a {
    font-family: 'Monument Extended Regular';
    font-size: var(--text-sm);
    transition: 0.5s;
    font-weight: 400;
    color: var(--color-black);
}

.recent-articles-caption .subtitle {
    height: fit-content;
    margin-bottom: var(--vspace-0_25);
}

.recent-articles-caption .subtitle p {
    font-family: 'Montserrat Medium';
    font-size: var(--text-sm);
    transition: 0.5s;
    font-weight: 400;
    color: var(--color-black);
}

.recent-articles-caption span {
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
}

.recent-articles-caption h4 {
    margin: 0;
    line-height: 1;
}

.recent-articles-caption h4 a {
    font-size: 18px;
    font-weight: 500;
}

.recent-articles-caption h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (max-width: 1200px) {
    .recent-articles-caption {
        aspect-ratio: 4/2.25;
    }
}

@media screen and (max-width: 900px) {
    .recent-articles-title {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    .recent-articles-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    .recent-articles-body-wrapper {
        padding: 0  calc(var(--gutter) * 1);
    }

    .recent-articles-caption {
        aspect-ratio: 4/3;
    }
}

@media screen and (max-width: 750px) {
    .recent-articles-title {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
        font-size: var(--text-xxxl);
    }

    .recent-articles-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
        font-size: var(--text-sm);
    }

    .recent-articles-body-wrapper {
        padding: 0  calc(var(--gutter) * 0.5);
    }
}

@media screen and (max-width: 650px) {
    .recent-articles-title {
        font-size: var(--text-xxl);
    }
}

@media screen and (max-width: 600px) {

    .recent-articles-caption {
        aspect-ratio: auto;
    }
}

.filters {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 var(--gutter);
}
.filters button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.filters button.active {
    background-color: #333;
    color: white;
}

.article-card-wrapper.hidden {
    display: none;
}