* {
    transition: background-color 300ms ease, color 300ms ease;
}
*:focus {
    background-color: rgba(221, 72, 20, .2);
    outline: none;
}
html, body {
    color: rgba(33, 37, 41, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
header {
    background-color: rgba(247, 248, 249, 1);
    padding: .4rem 0 0;
}
.menu {
    padding: .4rem 2rem;
}
header ul {
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
}
header li {
    display: inline-block;
}
header li a {
    border-radius: 5px;
    color: rgba(0, 0, 0, .5);
    display: block;
    height: 44px;
    text-decoration: none;
}
header li.menu-item a {
    border-radius: 5px;
    margin: 5px 0;
    height: 38px;
    line-height: 36px;
    padding: .4rem .65rem;
    text-align: center;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
    background-color: rgba(221, 72, 20, .2);
    color: rgba(221, 72, 20, 1);
}
header .logo {
    float: left;
    height: 44px;
    padding: .4rem .5rem;
}
header .menu-toggle {
    display: none;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
header .menu-toggle button {
    background-color: rgba(221, 72, 20, .6);
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font: inherit;
    font-size: 1.3rem;
    height: 36px;
    padding: 0;
    margin: 11px 0;
    overflow: visible;
    width: 40px;
}
header .menu-toggle button:hover,
header .menu-toggle button:focus {
    background-color: rgba(221, 72, 20, .8);
    color: rgba(255, 255, 255, .8);
}
header .heroe {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
}
header .heroe h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
header .heroe h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
section {
    margin: 0 auto;
    max-width: 1100px;
    padding: 2.5rem 1.75rem 3.5rem 1.75rem;
}
section h1 {
    margin-bottom: 2.5rem;
}
section h2 {
    font-size: 120%;
    line-height: 2.5rem;
    padding-top: 1.5rem;
}
section pre {
    background-color: rgba(247, 248, 249, 1);
    border: 1px solid rgba(242, 242, 242, 1);
    display: block;
    font-size: .9rem;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    white-space: pre-wrap;
    word-break: break-all;
}
section code {
    display: block;
}
section a {
    color: rgba(221, 72, 20, 1);
}
section svg {
    margin-bottom: -5px;
    margin-right: 5px;
    width: 25px;
}
.further {
    background-color: rgba(247, 248, 249, 1);
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    border-top: 1px solid rgba(242, 242, 242, 1);
}
.further h2:first-of-type {
    padding-top: 0;
}
.svg-stroke {
    fill: none;
    stroke: #000;
    stroke-width: 32px;
}
footer {
    background-color: rgba(221, 72, 20, .8);
    text-align: center;
}
footer .environment {
    color: rgba(255, 255, 255, 1);
    padding: 2rem 1.75rem;
}
footer .copyrights {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(200, 200, 200, 1);
    padding: .25rem 1.75rem;
}
@media (max-width: 629px) {
    header ul {
        padding: 0;
    }
    header .menu-toggle {
        padding: 0 1rem;
    }
    header .menu-item {
        background-color: rgba(244, 245, 246, 1);
        border-top: 1px solid rgba(242, 242, 242, 1);
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    header .menu-toggle {
        display: block;
    }
    header .hidden {
        display: none;
    }
    header li.menu-item a {
        background-color: rgba(221, 72, 20, .1);
    }
    header li.menu-item a:hover,
    header li.menu-item a:focus {
        background-color: rgba(221, 72, 20, .7);
        color: rgba(255, 255, 255, .8);
    }
}













/*--------------------------------------------------------------
# Index Section
--------------------------------------------------------------*/
.main-index {
    margin-top: 90px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(38, 56, 76, 0.2)), url("../img/index/hero-bg.webp") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
  background-attachment: fixed;
}
  
#hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2f4d5a;
}

#hero .hero-container .wrapper .button {
  display: inline;
  height: 90px;
  width: 90px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

#hero .hero-container .wrapper .button:hover {
  width: 450px;
}

#hero .hero-container .wrapper .button .icon {
  display: inline;
  height: 90px;
  width: 90px;
  float: left;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}

#hero .hero-container .wrapper .button:hover .icon {
  background: #18d26e;
}

#hero .hero-container .wrapper .button .icon img {
  max-width: 48px;
}

#hero .hero-container .wrapper .button:hover .icon img {
  filter: brightness(0) invert(1);
  max-width: 48px;
}

#hero .hero-container .wrapper .button span {
  font-size: 25px;
  font-weight: 500;
  line-height: 90px;
  margin-right: 10px;
  transition: all 0.3s ease-out;
}

#hero .hero-container .wrapper .button span {
  color: #18d26e;
}

#hero .btn-get-started {
  position: absolute;
  font-size: 36px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  padding: 10px;
  margin: 75px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#hero .btn-get-started:hover {
  padding-top: 18px;
  background: rgba(255, 255, 255, 0.15);
  bottom: 0;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-container .wrapper .button {
    display: inline;
    height: 60px;
    width: 60px;
    float: left;
    margin: 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }
    
  #hero .hero-container .wrapper .button:hover {
    width: 275px;
  }
    
  #hero .hero-container .wrapper .button .icon {
    display: inline;
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1):hover .icon {
    background: #18d26e;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2) .icon {
    background: #fff;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1) .icon #whatsapp {
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2) .icon #tokopedia {
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2):hover .icon {
    background: #18d26e;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1):hover .icon #whatsapp {
    filter: brightness(0) invert(1);
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2):hover .icon #tokopedia {
    filter: brightness(0) invert(1);
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button span {
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;
    margin-right: 10px;
    transition: all 0.3s ease-out;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1) span {
    color: #18d26e;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2) span {
    color: #18d26e;
  }
}

/*--------------------------------------------------------------
# Video Section
--------------------------------------------------------------*/
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0px;
  top: 0px;
  z-index: -100;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.content-about h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

.content-about h2 {
  margin: 0 0 10px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

.content-about .ca3 {
  font-size: 18px;
  color: #fff;
}

.about {
  background: url("../img/index/bg_about.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2f4d5a;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  display: inline-block;
  background: #67b0d1;
  padding: 6px 44px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
}

.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}

.about .content .about-btn:hover {
  background: #7bbad7;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
      padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
      text-align: center;
  }

  .content-about h1 {
      max-width: 100vw;
      margin: 0;
      font-size: 50px;
      font-weight: 700;
      padding: 10px;
      text-transform: uppercase;
      color: #fff;
  }
  
  .content-about h2 {
      max-width: 100vw;
      margin: 0 0 10px 0;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
  }

  .content-about .ca3 {
      max-width: 100vw;
      padding: 10px;
      font-size: 16px;
      color: #fff;
  }
}























@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: black;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, black 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}