/* Fonts */
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  
  /* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
  :root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #2a2c39; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #67b0d1; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  
  /* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
  :root {
    --nav-color: #ffffff;  /* The default color of the main navmenu links */
    --nav-hover-color: #67b0d1; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #060606; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #67b0d1; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }
  
  /* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
  
  .light-background {
    --background-color: #f9f9f9;
    --surface-color: #ffffff;
  }
  
  .dark-background {
    --background-color: #2a2c39;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #404356;
    --contrast-color: #ffffff;
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }
  
  /*--------------------------------------------------------------
  # Global Header
  --------------------------------------------------------------*/
  .header {
    --background-color: rgba(255, 255, 255, 0);
    --heading-color: #ffffff;
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 20px 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  .header .logo {
    line-height: 1;
  }
  
  .header .logo img {
    max-height: 32px;
    margin-right: 8px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
  }
  
  .scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
  
  /* Global Header on Scroll
  ------------------------------*/
  .scrolled .header {
    --background-color: rgba(42, 44, 57, 0.9);
  }
  
  /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
  
  .main {
    padding: 80px 40px 0 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Navmenu - Desktop */
  @media (min-width: 1200px) {
    .navmenu {
      padding: 0;
    }
  
    .navmenu ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navmenu li {
      position: relative;
      margin-left: 5px;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-color);
      padding: 8px 20px;
      font-size: 14px;
      font-family: var(--nav-font);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
      border-radius: 50px;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  
    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus,
    .navmenu ul li.menu-active>a {
      background-color: var(--nav-hover-color);
    }
  
    .navmenu .dropdown ul {
      margin: 0;
      padding: 10px 0;
      background: var(--nav-dropdown-background-color);
      display: block;
      position: absolute;
      visibility: hidden;
      left: 0;
      top: 130%;
      opacity: 0;
      transition: 0.3s;
      border-radius: 15px;
      z-index: 99;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
  
    .navmenu .dropdown ul li {
      min-width: 200px;
      margin-left: 0;
    }
  
    .navmenu .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--nav-dropdown-color);
    }
  
    .navmenu .dropdown ul a i {
      font-size: 12px;
    }
  
    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a,
    .navmenu .dropdown ul li.menu-active>a {
      background-color: transparent;
      color: var(--nav-hover-color);
    }
  
    .navmenu .dropdown:hover>ul {
      opacity: 1;
      top: 105%;
      visibility: visible;
    }
  
    .navmenu .dropdown .dropdown ul {
      top: 0;
      left: -90%;
      visibility: hidden;
    }
  
    .navmenu .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: -100%;
      visibility: visible;
    }
  }
  
  /* Navmenu - Mobile */
  @media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 9997;
    }
  
    .navmenu ul {
      display: none;
      list-style: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-mobile-background-color);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }
  
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
      background-color: var(--accent-color);
      color: var(--contrast-color);
    }
  
    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .active i,
    .navmenu .active:focus i {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      transform: rotate(180deg);
    }
  
    .navmenu .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: var(--nav-dropdown-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      transition: all 0.5s ease-in-out;
    }
  
    .navmenu .dropdown ul ul {
      background-color: rgba(33, 37, 41, 0.1);
    }
  
    .navmenu .dropdown>.dropdown-active {
      display: block;
      background-color: rgba(33, 37, 41, 0.03);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }
  
    .mobile-nav-active .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;
    }
  
    .mobile-nav-active .navmenu>ul {
      display: block;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Footer
  --------------------------------------------------------------*/
  .footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
  
  .footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  .footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  .footer .social-links {
    margin: 0 0 30px 0;
  }
  
  .footer .social-links a {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: var(--contrast-color);
    line-height: 1;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
    text-decoration: none;
  }
  
  .footer .copyright {
    padding-top: 25px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .footer .credits {
    font-size: 13px;
    padding-top: 5px;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: var(--background-color);
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
  }
  
  #preloader:before,
  #preloader:after {
    content: "";
    position: absolute;
    border: 4px solid var(--accent-color);
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  #preloader:after {
    animation-delay: -0.5s;
  }
  
  @keyframes animate-preloader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
  
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
  section,
  .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 40px 0;
    scroll-margin-top: 77px;
    overflow: clip;
  }
  
  /*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
  
  .section-title {
    position: relative;
    text-align: center;
  }
  
  .section-title p {
    color: var(--heading-color);
    margin: 0 0 40px 0;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--heading-font);
    border-top: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  /*--------------------------------------------------------------
  # Distributors
  --------------------------------------------------------------*/
  
  .distributor .distributor-filters {
    padding: 25px;
    margin: 20px auto 20px auto; 
    list-style: none;
    text-align: center;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .distributor .distributor-filters ul {
    padding: 0px;
    margin: 0px;
  }
  
  .distributor .distributor-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-family: var(--heading-font);
    width: auto;
  }
  
  .distributor .distributor-filters li:hover,
  .distributor .distributor-filters li.filter-active {
    color: var(--contrast-color);
    background-color: var(--accent-color);
  }
  
  .distributor.distributor-item {
    background: var(--surface-color);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    min-height: 550px;
    border-radius: 10px;
    overflow: hidden;
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-position: center bottom;
  }
  
  .distributor.distributor-item .distributor-map {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
  }
  
  .distributor.distributor-item .distributor-category {
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    margin-bottom: 10px;
  }
  
  .distributor.distributor-item .distributor-name {
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .distributor.distributor-item .distributor-name a {
    color: var(--heading-color);
    transition: 0.3s;
  }
  
  .distributor.distributor-item .distributor-name a:hover {
    color: var(--accent-color);
  }
  
  .distributor.distributor-item .distributor-info {
    margin-top: 20px;
  }
  
  .distributor.distributor-item .distributor-info i {
    background: var(--accent-color);
    color: var(--contrast-color);
    font-size: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .distributor.distributor-item .distributor-info h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  
  .distributor.distributor-item .distributor-info p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .main {
      padding: 80px 20px 0 20px;
    }
  
    .section {
      padding: 20px 0;
    }
  
    .section-title p {
      margin: 10px 0 20px 0;
      font-size: 40px;
    }
  
    .distributor .distributor-filters {
      padding: 10px;
    }
  
    .distributor .distributor-filters li {
      width: 100%;
      margin: 2.5px 0 2.5px 0;
      padding: 10px 20px 10px 20px;
    }
  
    .distributor.distributor-item .distributor-name {
      margin: 0 0 15px 0;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .main {
      padding: 80px 20px 0 20px;
    }
  
    .distributor .distributor-filters {
      padding: 10px;
    }
  
    .distributor .distributor-filters li {
      width: 40%;
      margin: 2.5px 0 2.5px 0;
      padding: 10px 20px 10px 20px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .main {
      padding: 80px 20px 0 20px;
    }
  
    .distributor .distributor-filters {
      padding: 10px;
    }
  
    .distributor .distributor-filters li {
      width: 30%;
      margin: 2.5px 0 2.5px 0;
      padding: 10px 20px 10px 20px;
    }
  
    .distributor.distributor-item .distributor-name {
      margin: 0 0 15px 0;
    }
  
    .distributor.distributor-item .distributor-info {
      margin-top: 10px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .main {
      padding: 80px 40px 0 40px;
    }
  
    .distributor .distributor-filters li {
      width: auto;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }














  /*--------------------------------------------------------------
# Index Section
--------------------------------------------------------------*/
.main-index {
    margin-top: 90px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(38, 56, 76, 0.2)), url("../img/index/hero-bg.webp") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
  background-attachment: fixed;
}
  
#hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2f4d5a;
}

#hero .hero-container .wrapper .button {
  display: inline;
  height: 90px;
  width: 90px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

#hero .hero-container .wrapper .button:hover {
  width: 450px;
}

#hero .hero-container .wrapper .button .icon {
  display: inline;
  height: 90px;
  width: 90px;
  float: left;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 90px;
  transition: all 0.3s ease-out;
}

#hero .hero-container .wrapper .button:hover .icon {
  background: #18d26e;
}

#hero .hero-container .wrapper .button .icon img {
  max-width: 48px;
}

#hero .hero-container .wrapper .button:hover .icon img {
  filter: brightness(0) invert(1);
  max-width: 48px;
}

#hero .hero-container .wrapper .button span {
  font-size: 25px;
  font-weight: 500;
  line-height: 90px;
  margin-right: 10px;
  transition: all 0.3s ease-out;
}

#hero .hero-container .wrapper .button span {
  color: #18d26e;
}

#hero .btn-get-started {
  position: absolute;
  font-size: 36px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  padding: 10px;
  margin: 75px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#hero .btn-get-started:hover {
  padding-top: 18px;
  background: rgba(255, 255, 255, 0.15);
  bottom: 0;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-container .wrapper .button {
    display: inline;
    height: 60px;
    width: 60px;
    float: left;
    margin: 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }
    
  #hero .hero-container .wrapper .button:hover {
    width: 275px;
  }
    
  #hero .hero-container .wrapper .button .icon {
    display: inline;
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1):hover .icon {
    background: #18d26e;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2) .icon {
    background: #fff;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1) .icon #whatsapp {
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2) .icon #tokopedia {
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2):hover .icon {
    background: #18d26e;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1):hover .icon #whatsapp {
    filter: brightness(0) invert(1);
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2):hover .icon #tokopedia {
    filter: brightness(0) invert(1);
    max-width: 28px;
  }
  
  #hero .hero-container .wrapper .button span {
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;
    margin-right: 10px;
    transition: all 0.3s ease-out;
  }
  
  #hero .hero-container .wrapper .button:nth-child(1) span {
    color: #18d26e;
  }
  
  #hero .hero-container .wrapper .button:nth-child(2) span {
    color: #18d26e;
  }
}

/*--------------------------------------------------------------
# Video Section
--------------------------------------------------------------*/
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0px;
  top: 0px;
  z-index: -100;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.content-about h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

.content-about h2 {
  margin: 0 0 10px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

.content-about .ca3 {
  font-size: 18px;
  color: #fff;
}

.about {
  background: url("../img/index/bg_about.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2f4d5a;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  display: inline-block;
  background: #67b0d1;
  padding: 6px 44px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
}

.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}

.about .content .about-btn:hover {
  background: #7bbad7;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
      padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
      text-align: center;
  }

  .content-about h1 {
      max-width: 100vw;
      margin: 0;
      font-size: 50px;
      font-weight: 700;
      padding: 10px;
      text-transform: uppercase;
      color: #fff;
  }
  
  .content-about h2 {
      max-width: 100vw;
      margin: 0 0 10px 0;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
  }

  .content-about .ca3 {
      max-width: 100vw;
      padding: 10px;
      font-size: 16px;
      color: #fff;
  }
}























@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: black;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, black 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}