body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.row {
    width     : 92%;
    max-width : var(--width-grid-max);
    margin    : 0 auto;
    display   : flex;
    flex-flow : row wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================================================
 * # INTRO
 *
 *
 * ------------------------------------------------------------------- */
.s-intro {
    --content-padding-top    : 20vh;
    --content-padding-bottom : 9.6rem;
    z-index                  : 3;
    background-color         : #1C1C24;
    width                    : 100%;
    height                   : 100vh;
    overflow                 : hidden;
    position                 : relative;
}

/* --------------------------------------------------------------------
 * ## intro background
 * -------------------------------------------------------------------- */
.s-intro__bg {
    display             : block;
    background-image    : url(../images/home/hero-bg.jpg);
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
    height              : 100vh;
    width               : 100vw;
    position            : absolute;
    top                 : 0;
    right               : 0;
    bottom              : 0;
    left                : auto;
}

.s-intro__bg::before {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : black;
    pointer-events : none;
    opacity        : 75%;
}

.s-intro__bg::after {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : linear-gradient(0deg, black 15%, rgba(0, 0, 0, 0) 100%);
    pointer-events : none;
    opacity        : .3;
}

/* --------------------------------------------------------------------
 * ## intro content
 * -------------------------------------------------------------------- */
.s-intro__content {
    z-index        : 2;
    align-items    : flex-end;
    max-width      : 1400px;
    height         : 100%;
    color          : white;
    padding-top    : var(--content-padding-top);
    padding-bottom : var(--content-padding-bottom);
    position       : relative;
}

.s-intro__content-bg {
    display             : block;
    background-image    : url(../images/home/intro-bg.jpg);
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
    height: 500px;
    width               : 500px;
    position            : absolute;
    top                 : var(--content-padding-top);
    right               : 0;
    bottom              : var(--content-padding-bottom);
    left                : auto;
}

.s-intro__content-bg::before {
    display        : block;
    content        : "";
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    width          : 100%;
    height         : 100%;
    background     : linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0) 100%);
    pointer-events : none;
    opacity        : 0;
}

.s-intro__content-title {
    --text-title-size : 8.8rem;
    --text-multiplier : 1;
    font-weight       : 2000;
    font-size         : calc(var(--text-title-size) * var(--text-multiplier));
    line-height       : 1.227;
    color             : white;
    padding-top       : var(--vspace-0_75);
    padding-right     : 10vw;
    margin-top        : 0;
    margin-bottom     : var(--vspace-2);
    position          : relative;
}

.s-intro__content-title .subtitle{
    font-weight       : 400;
    font-size         : calc(var(--text-title-size) * var(--text-multiplier) * 0.75);
}

.s-intro__content-title::before {
    display          : block;
    content          : "";
    height           : 1px;
    width            : 7.2rem;
    background-color : var(--color-1);
    position         : absolute;
    top              : 0;
    left             : 4px;
}

.s-intro__content-buttons {
    z-index       : 2;
    display       : flex;
    margin-bottom : var(--vspace-1);
    position      : relative;
}

.s-intro__content-btn {
    color            : white;
    background-color : white;
    border-color     : white;
    margin-right     : var(--vspace-1);
    margin-bottom    : 0;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.s-intro__content-btn svg {
    height    : var(--vspace-1);
    width     : var(--vspace-1);
    margin-right: var(--vspace-0_25);;
}

.s-intro__content-video-btn {
    height          : var(--vspace-btn);
    width           : var(--vspace-btn);
    border          : 2px solid white;
    border-radius   : 50%;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.s-intro__content-video-btn svg {
    height    : var(--vspace-1);
    width     : var(--vspace-1);
    transform : translate(2px, 0);
}

.s-intro__content-video-btn svg path {
    fill : white;
}

.s-intro__content-video-btn:focus,
.s-intro__content-video-btn:hover {
    background-color : var(--color-1);
    border-color     : var(--color-1);
}

.s-intro__content-video-btn:focus svg path,
.s-intro__content-video-btn:hover svg path {
    fill : white;
}

/* --------------------------------------------------------------------
 * ## intro scroll down
 * -------------------------------------------------------------------- */
.s-intro__scroll-down {
    z-index          : 2;
    display          : flex;
    align-items      : center;
    transform        : translateX(-7.6rem) rotate(90deg);
    transform-origin : right bottom;
    padding-right    : var(--content-padding-bottom);
    position         : absolute;
    bottom           : 0;
    right            : 0;
}

.s-intro__scroll-down span {
    font-family    : var(--font-2);
    font-size      : 10px;
    font-weight    : 300;
    text-transform : uppercase;
    letter-spacing : .5em;
    color          : white;
    line-height    : var(--vspace-1);
}

.s-intro__scroll-down::before {
    display          : block;
    content          : "";
    height           : 1px;
    width            : calc(var(--content-padding-bottom) - 1.6rem);
    background-color : rgba(255, 255, 255, 0.3);
    position         : absolute;
    top              : 50%;
    right            : 0;
}

.s-intro__scroll-down:focus,
.s-intro__scroll-down:hover {
    color : var(--color-1);
}

/* --------------------------------------------------------------------
 * ## intro transitions
 * -------------------------------------------------------------------- */
.s-header__inner,
.s-intro__bg,
.s-intro__content-bg,
.s-intro__content-title,
.s-intro__content-buttons,
.s-intro__scroll-down {
    transition-timing-function : cubic-bezier(0.28, 0.12, 0.22, 1);
    transition-duration        : .8s;
    transition-delay           : 0s;
    opacity                    : 0;
}

.s-header__inner,
.s-intro__bg {
    transition-duration : .6s;
}

.s-header__inner {
    transition-property : opacity;
}

.s-intro__content-bg,
.s-intro__content-title,
.s-intro__content-buttons {
    transition-property : opacity, transform;
    transform           : translate(0, 100%);
}

.s-intro__scroll-down {
    transition-property : opacity, bottom;
    bottom              : -150px;
}

.no-js .s-intro__bg,
.no-js .s-intro__scroll-down,
.ss-show .s-intro__bg,
.ss-show .s-intro__scroll-down {
    opacity : 1;
}

.no-js .s-header__inner,
.no-js .s-intro__content-bg,
.no-js .s-intro__content-title,
.no-js .s-intro__content-buttons,
.ss-show .s-header__inner,
.ss-show .s-intro__content-bg,
.ss-show .s-intro__content-title,
.ss-show .s-intro__content-buttons {
    opacity   : 1;
    transform : translate(0, 0);
}

.no-js .s-intro__bg,
.ss-show .s-intro__bg {
    transition-delay : .1s;
}

.no-js .s-intro__content-bg,
.ss-show .s-intro__content-bg {
    transition-delay : .4s;
}

.no-js .s-intro__content-title,
.ss-show .s-intro__content-title {
    transition-delay : .8s;
}

.no-js .s-intro__content-buttons,
.ss-show .s-intro__content-buttons {
    transition-delay : 1.2s;
}

.no-js .s-intro__scroll-down,
.ss-show .s-intro__scroll-down {
    transition-delay : 1.4s;
    bottom           : 0;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * intro
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1600px) {
    .s-intro__content {
        max-width : var(--width-grid-max);
    }

    .s-intro__content-title {
        --text-multiplier : .86;
    }
}

@media screen and (max-width: 1400px) {
    .s-intro__content {
        max-width : 1080px;
    }

    .s-intro__content-bg {
        width : 440px;
    }

    .s-intro__content-title {
        --text-multiplier : .74;
    }
}

@media screen and (max-width: 1200px) {
    .s-intro__content {
        max-width : 960px;
    }

    .s-intro__content-title {
        --text-multiplier : .68;
    }
}

@media screen and (max-width: 1100px) {
    .s-intro__content {
        max-width : 900px;
    }

    .s-intro__scroll-down {
        transform : translateX(-5.6rem) rotate(90deg);
    }
}

@media screen and (max-width: 1000px) {
    .s-intro__content-title br {
        display : none;
    }

    .s-intro__scroll-down {
        transform : translateX(-12rem) rotate(90deg);
    }
}

@media screen and (max-width: 900px) {
    .s-intro__content-title {
        --text-multiplier : .62;
    }

    .s-intro__content-bg {
        width : 420px;
    }
}

@media screen and (max-width: 800px) {
    .s-intro__content-title {
        --text-multiplier : .58;
    }

    .s-intro__content-title::before {
        width : var(--vspace-1_25);
    }
}

@media screen and (max-width: 700px) {
    .s-intro__content-title {
        --text-multiplier : .5;
    }
}

@media screen and (max-width: 600px) {
    .s-intro__content-bg {
        width  : 67vw;
        right  : 0;
        bottom : 0;
    }

    .s-intro__content-bg::before {
        opacity : .5;
    }

    .s-intro__scroll-down {
        transform : translateX(-4.8rem) rotate(90deg);
    }
}

@media screen and (max-width: 500px) {
    .s-intro__content-title {
        --text-multiplier : .48;
    }

    .s-intro__social {
        display : none;
    }
}

@media screen and (max-width: 400px) {
    .s-intro {
        --content-padding-top : 15vh;
    }

    .s-intro__content-bg {
        width : 90vw;
    }

    .s-intro__content-title {
        --text-multiplier : .42;
        padding-right     : 0;
    }

    .s-intro__content-buttons {
        --btn-height : var(--vspace-1_5);
    }

    .s-intro__content-btn {
        font-size    : 1rem;
        padding      : 0 2.8rem;
        margin-right : var(--vspace-0_625);
    }

    .s-intro__scroll-down {
        display : none;
    }
}

/* ===================================================================
 * # ABOUT
 *
 *
 * ------------------------------------------------------------------- */
.s-about {
    /* padding-top    : var(--vspace-5);
    padding-bottom : var(--vspace-20); */
    display             : block;
    background-image  : url(../images/home/solidcast-bg.jpg);
    background-repeat   : no-repeat;
    background-position : bottom;
    background-size: contain;
}

.section-header__secondary > p {
    font-family: var(--font-1);
    font-size: var(--base-font-size);
    font-weight: 400;
    line-height: var(--vspace-1);
    margin-bottom : var(--vspace-1);
}

.list-block__text > p {
    font-family: var(--font-1);
    font-size: var(--base-font-size);
    font-weight: 400;
    line-height: var(--vspace-1);
    margin-bottom : var(--vspace-1);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * about
 * ------------------------------------------------------------------- */

@media screen and (max-width: 400px) {
    .s-about {
        padding-top    : var(--vspace-1);
        padding-bottom : var(--vspace-6);
    }
}

@media screen and (min-width: 400px) {
    .s-about {
        padding-top    : var(--vspace-1_5);
        padding-bottom : var(--vspace-8);
    }
}

@media screen and (min-width: 600px) {
    .s-about {
        padding-top    : var(--vspace-4);
        padding-bottom : var(--vspace-10);
    }
}

@media screen and (min-width: 800px) {
    .s-about {
        padding-top    : var(--vspace-4);
        padding-bottom : var(--vspace-12);
    }
}

@media screen and (min-width: 992px) {
    .s-about {
        padding-top    : var(--vspace-4);
        padding-bottom : var(--vspace-15);
    }
}

@media screen and (min-width: 1200px) {
    .s-about {
        padding-top    : var(--vspace-4);
        padding-bottom : var(--vspace-20);
    }
}

@media screen and (min-width: 1500px) {
    .s-about {
        padding-top    : var(--vspace-4);
        padding-bottom : var(--vspace-22_5);
    }
}

/* ===================================================================
 * # PORTFOLIO
 *
 *
 * ------------------------------------------------------------------- */
 .s-folio {
    background-color : var(--color-gray-19);
    padding-top      : var(--vspace-5);
    /* padding-bottom   : var(--vspace-5); */
}

/* ------------------------------------------------------------------- 
 * ## bricks masonry 
 * ------------------------------------------------------------------- */
.bricks {
    max-width     : var(--width-wide);
    /* margin-top    : var(--vspace-3); */
    /* margin-bottom : var(--vspace-3); */
}

.bricks .masonry {
    overflow : hidden;
}

.bricks-wrapper {
    display  : block;
    position : relative;
}

.bricks-wrapper .grid-sizer,
.bricks-wrapper .brick {
    width : 25%;
    /* border : 1px solid rgba(255, 255, 255, 0.05); */
}

.bricks-wrapper .grid-sizer--double,
.bricks-wrapper .brick--double {
    width : 50%;
    /* border : 1px solid rgba(255, 255, 255, 0.05); */
}

.bricks-wrapper .grid-sizer--one,
.bricks-wrapper .brick--one {
    width : 100%;
    /* border : 1px solid rgba(255, 255, 255, 0.05); */
}

.bricks-wrapper .brick {
    float   : left;
    padding : 0;
    border : 1px solid rgba(255, 255, 255, 0.05);
}

/* ------------------------------------------------------------------- 
 * ## masonry entries 
 * ------------------------------------------------------------------- */
.bricks-wrapper .entry {
    overflow : hidden;
    position : relative;
}

.bricks-wrapper .entry__link {
    display  : block;
    position : relative;
}

.bricks-wrapper .entry__link img {
    vertical-align : bottom;
    transition     : all 0.3s ease-in-out;
    margin         : 0;
}

.bricks-wrapper .entry__link::before {
    z-index    : 1;
    content    : "";
    display    : block;
    background : rgba(0, 0, 0, 0.6);
    opacity    : 0;
    visibility : hidden;
    width      : 100%;
    height     : 100%;
    transition : all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position   : absolute;
    top        : 0;
    left       : 0;
}

.bricks-wrapper .entry__link::after {
    z-index        : 1;
    display        : block;
    content        : "...";
    font-family    : georgia, serif;
    font-size      : 2.4rem;
    height         : 90px;
    width          : 90px;
    letter-spacing : .2rem;
    line-height    : 90px;
    margin-left    : -45px;
    margin-top     : -55px;
    text-align     : center;
    color          : white;
    opacity        : 0;
    visibility     : hidden;
    transform      : scale(0.5);
    transition     : all, 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position       : absolute;
    left           : 50%;
    top            : 50%;
}

.bricks-wrapper .entry {
    position : relative;
}

.bricks-wrapper .entry__info {
    z-index    : 2;
    transform  : translateY(-100%);
    opacity    : 0;
    visibility : hidden;
    transition : all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position   : absolute;
    top        : var(--vspace-0_75);
    left       : var(--vspace-0_75);
}

.bricks-wrapper .entry__cat,
.bricks-wrapper .entry__title {
    font-family : var(--font-2);
}

.bricks-wrapper .entry__cat {
    font-size   : calc(var(--text-size) * 0.7778);
    line-height : 1.8;
    color       : rgba(255, 255, 255, 0.3);
}

.bricks-wrapper .entry__title {
    font-weight : 500;
    font-size   : calc(var(--text-size) * 0.9444);
    line-height : 1.2;
    margin      : 0;
    color       : white;
}

/* on hover
 */
.bricks-wrapper .entry:hover .entry__link::before {
    opacity    : 1;
    visibility : visible;
}

.bricks-wrapper .entry:hover .entry__link::after {
    opacity    : 1;
    visibility : visible;
    transform  : scale(1);
}

.bricks-wrapper .entry:hover .entry__link img {
    transform : scale(1.05);
}

.bricks-wrapper .entry:hover .entry__info {
    opacity    : 1;
    visibility : visible;
    transform  : translateY(0);
}

/* ------------------------------------------------------------------- 
 * ## modal popup
 * ------------------------------------------------------------------- */
.modal-popup {
    max-width        : 1000px;
    background-color : var(--color-gray-18);
    font-size        : calc(var(--text-size) * 0.25);
    line-height      : var(--vspace-0_75);
    color            : white;
    overflow-y       : auto;
    position         : relative;
    text-align : center;
    margin: 0 var(--vspace-1);
    padding: var(--vspace-1) 0;
}

.modal-popup .column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-popup img {
    margin-bottom : 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.modal-popup img::after {
    content: 'asdasd';
}



.modal-popup h5 {
    font-family   : var(--font-1);
    font-size     : var(--text-size);
    line-height   : var(--vspace-1);
    font-weight   : 700;
    color         : white;
    margin-top    : 0;
    margin-bottom : var(--vspace-0_25);
}

.modal-popup__desc {
    padding : 0;
}

.modal-popup__desc p {
    font-size     : calc(var(--text-size) * 0.75);
    margin-bottom: var(--vspace-1);
    text-align: justify;
}

.modal-popup__cat {
    list-style   : none;
    margin-left  : 0;
    font-size    : var(--text-sm);
    line-height  : var(--vspace-0_5);
    color        : rgba(0, 0, 0, 0.6);
    padding-left : calc(0.875 * var(--space));
    position     : relative;
}

.modal-popup__cat::before {
    content             : "";
    display             : block;
    height              : calc(0.625 * var(--space));
    width               : calc(0.625 * var(--space));
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : contain;
    background-image    : url(../images/icons/icon-tag.svg);
    position            : absolute;
    left                : 0;
    top                 : -0.15em;
}

.modal-popup__learn-more {
    z-index       : 2;
    display       : flex;
    /* margin-bottom : var(--vspace-1); */
    position      : relative;
    display: block;
}

.modal-popup__learn-more-btn {
    color            : white;
    background-color : white;
    border-color     : white;
    margin-bottom    : 0;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.modal-popup__learn-more-btn svg {
    height    : var(--vspace-0_75);
    width     : var(--vspace-0_75);
    transform : translate(2px, 0);
    margin-right: var(--vspace-0_5);;
}

.modal-popup__cat li {
    display      : inline;
    padding-left : 0;
}

.modal-popup__cat li::after {
    content : ", ";
}

.modal-popup__cat li:last-child::after {
    display : none;
}

.modal-popup__details {
    background-color : rgba(0, 0, 0, 0.3);
    font-size        : var(--text-xs);
    line-height      : var(--vspace-1_25);
    color            : white;
    padding          : 0 1.2rem;
    position         : absolute;
    /* top              : var(--vspace-1);
    left             : var(--vspace-1); */
}

.modal-popup__details:focus,
.modal-popup__details:hover {
    background-color : var(--color-gray-19);
    color            : white;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * portfolio
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .bricks-wrapper .entry__cat {
        font-size : calc(var(--text-size) * 0.6667);
    }

    .bricks-wrapper .entry__title {
        font-size : calc(var(--text-size) * 0.8333);
    }
}

@media screen and (max-width: 1000px) {
    .modal-popup {
        max-height: 75vh;
    }
    
    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width : 50%;
    }

    .bricks .column {
        flex         : none;
        width        : 100%;
        margin-left  : 0;
        margin-right : 0;
        padding      : 0;
    }
}

@media screen and (max-width: 800px) {
    .modal-popup {
        max-height: 75vh;
    }

    .modal-popup img {
        max-width: 50%;
        margin-bottom : var(--vspace-0_75);
    }

    .modal-popup__desc {
        padding : 0 var(--vspace-0_125) var(--vspace-0_25);
    }

    .s-folio {
        padding-top    : var(--vspace-4);
    }
}

@media screen and (max-width: 600px) {
    .modal-popup {
        max-height: 80vh;
    }

    .modal-popup img {
        max-width: 100%;
    }

    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width : 100%;
        float : none;
        margin-top: 0;
    }
}

/* ===================================================================
 * # COMING SOON
 *
 *
 * ------------------------------------------------------------------- */
 .s-coming-soon {
    padding-top : var(--vspace-2);
}

.s-coming-soon .entry__link img {
    vertical-align : bottom;
    transition     : all 0.3s ease-in-out;
    margin         : 0;
}


/* ===================================================================
 * # CLIENTS
 *
 *
 * ------------------------------------------------------------------- */
.s-clients {
    padding-top : var(--vspace-2);
}

.s-clients .section-header {
    max-width    : var(--width-narrower);
    text-align   : center;
    padding-top  : 0;
    margin-right : auto;
    margin-left  : auto;
}

.s-clients .section-header::before {
    display : none;
}

.s-clients h3 {
    color      : white;
    text-align : center;
    margin-top : 0;
}

.clients-list {
    position   : relative;
    /* margin-top : var(--vspace-2); */
    border-top : 1px solid rgba(255, 255, 255, 0.05);
}

.clients-list__item {
    border-color : rgba(255, 255, 255, 0.05);
    border-width : 1px;
    text-align   : center;
    padding      : 0;
    vertical-align: middle;
}

.clients-list__item a {
    display    : flex;
    padding    : var(--vspace-0_75) var(--vspace-0_75);
    transition : all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.clients-list__item a:focus,
.clients-list__item a:hover {
    background-color : var(--color-gray-18);
}

.clients-list__item a:focus img,
.clients-list__item a:hover img {
    opacity : 1;
}

.clients-list__item img {
    margin     : 0;
    transition : all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity    : .5;
}

.clients-list__item:nth-child(n) {
    border-style : none solid solid none;
}

.clients-list__item:nth-child(4n + 4) {
    border-style : none none solid none;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * clients
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .clients-list__item a {
        padding : var(--vspace-0_75) var(--vspace-1);
    }

    .clients-list__item:nth-child(n) {
        border-style : none solid solid none;
    }

    .clients-list__item:nth-child(3n + 3) {
        border-style : none none solid none;
    }
}

@media screen and (max-width: 1000px) {
    .clients-list__item a {
        padding : var(--vspace-0_75) var(--vspace-0_625);
    }
}

@media screen and (max-width: 800px) {
    .clients-list__item a {
        padding : var(--vspace-0_75) var(--vspace-1);
    }

    .clients-list__item:nth-child(n) {
        border-style : none solid solid none;
    }

    .clients-list__item:nth-child(2n + 2) {
        border-style : none none solid none;
    }
}

@media screen and (max-width: 600px) {
    .clients-list__item a {
        padding : var(--vspace-0_5) var(--vspace-0_625);
    }
}

@media screen and (max-width: 500px) {
    /* .clients-list {
        margin-top : var(--vspace-1_75);
    } */

    .clients-list__item a {
        padding : var(--vspace-0_5) var(--vspace-0_375);
    }
}

@media screen and (max-width: 400px) {
    .clients-list__item:nth-child(n) {
        border-style : none none solid none;
    }

    .clients-list__item a {
        padding : var(--vspace-0_5) 18vw;
    }
}

/* ===================================================================
 * # TESTIMONIALS
 *
 *
 * ------------------------------------------------------------------- */
 .s-testimonials {
    padding-top    : var(--vspace-4_5);
    padding-bottom : var(--vspace-2);
    background-color: var(--color-gray-1);
}

.s-testimonials .swiper-container {
    padding-bottom : var(--vspace-2);
}

/* ------------------------------------------------------------------- 
 * ## testimonial slider 
 * ------------------------------------------------------------------- */
.s-testimonials__slide {
    position : relative;
}

.s-testimonials__avatar {
    width         : 100%;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * testimonials
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .s-testimonials__content {
        max-width : 960px;
    }
}

@media screen and (max-width: 800px) {
    .s-testimonials__content {
        max-width : 600px;
    }

    .s-testimonials__slide {
        text-align : center;
    }
}