/* ===================================================================
 * # HERO SECTION
 *
 *
 * ------------------------------------------------------------------- */
.hero {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    margin-top: 80px;
}

/* --------------------------------------------------------------------
 * # BACKGROUND
 * -------------------------------------------------------------------- */
.hero-bg {
    display: block;
    background-image: url(../images/backgrounds/index/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
}

.hero-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-black);
    pointer-events: none;
    opacity: 75%;
}

.hero-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 calc(var(--gutter) * 2) 0 0;
}

.hero-content .column:nth-of-type(1){
    padding-bottom: 100px;
}

#hero-title {
    line-height: 1.5;
    color: var(--color-white);
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Ultra Bold';
    margin: 0;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

#hero-subtitle {
    line-height: 1.25;
    color: var(--color-white);
    font-weight: 400;
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Regular';
    margin: 0;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

#hero-trailer {
    display: flex;
    margin-bottom: var(--vspace-1);
    position: absolute;
    padding: var(--gutter) 0 0 calc(var(--gutter) * 2);
}

#hero-trailer-btn {
    display: inline-flex;             /* Use flexbox directly for alignment */
    font-family: 'Monument Extended Regular';
    font-weight: 100;
    font-size: calc(var(--text-size) * 0.7);
    letter-spacing: 0.3em;
    line-height: calc(var(--vspace-btn) - 4px);
    padding: 0 var(--vspace-0_75) 0 var(--vspace-0_5);
    color: var(--color-white);
    transition: all .3s;
    background: var(--color-1);
    border: 2px solid var(--color-white);
    align-items: center;
    justify-content: center;
}

#hero-trailer-btn svg {
    height: var(--vspace-1);
    width: var(--vspace-1);
    margin-right: var(--vspace-0_25);
}

#hero-trailer-btn:hover {
    background: var(--color-1-dark) !important;
    border: 2px solid var(--color-white) !important;
    color: var(--color-white) !important;
}

#hero-photo {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1100px) {
    .hero-content {
        padding: 0 calc(var(--gutter) * 0.75) 0 0;
    }

    #hero-title {
        font-size: var(--text-display-1);
    }

    #hero-subtitle {
        font-size: var(--text-xl);
    }
}

@media screen and (max-width: 900px) {
    .hero-content {
        padding: 0;
    }

    #hero-title {
        font-size: var(--text-xxxl);
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    #hero-subtitle {
        font-size: var(--text-lg);
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    #hero-trailer {
        padding: calc(var(--gutter) * 0.5) 0 0 calc(var(--gutter) * 1);
    }

    #hero-trailer-btn {
        font-size: calc(var(--text-size) * 0.6);
    }
}

@media screen and (max-width: 750px) {
    #hero-title {
        font-size: var(--text-xxl);
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }

    #hero-subtitle {
        font-size: var(--text-md);
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }

    #hero-trailer {
        padding: calc(var(--gutter) * 0.5) 0 0 calc(var(--gutter) * 0.5);
    }

    #hero-trailer-btn {
        font-size: calc(var(--text-size) * 0.5);
    }
}

@media screen and (max-width: 600px) {
    #hero-title {
        font-size: var(--text-xl);
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    #hero-subtitle {
        font-size: var(--text-sm);
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    #hero-trailer {
        padding: calc(var(--gutter) * 1) 0 0 calc(var(--gutter) * 1);
    }
}

@media screen and (max-width: 450px) {
    #hero-title {
        font-size: var(--text-lg);
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }

    #hero-subtitle {
        font-size: var(--text-xs);
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }

    #hero-trailer {
        padding: calc(var(--gutter) * 1) 0 0 calc(var(--gutter) * 0.5);
    }
}

@media screen and (max-width: 375px) {
    #hero-title {
        font-size: var(--text-md);
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }
}

/* ===================================================================
 * # VIDEO SECTION
 *
 *
 * ------------------------------------------------------------------- */

.responsive-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 900px) {
    .responsive-video {
        height: 80vh;
    }
}

@media screen and (max-width: 600px) {
    .responsive-video {
        height: 60vh;
    }
}

/* ===================================================================
 * # SOLIDCAST SECTION
 *
 *
 * ------------------------------------------------------------------- */
.solidcast {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* --------------------------------------------------------------------
 * # SOLIDCAST - HEAD
 * -------------------------------------------------------------------- */
#solidcast-head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/backgrounds/index/solidcast-bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: var(--vspace-10);
}

#solidcast-head::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    pointer-events: none;
    opacity: 90%;
}

#solidcast-title {
    line-height: 1;
    color: var(--color-black);
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Ultra Bold';
    margin: 0;
    /* text-shadow: 0px 0px 30px rgba(0, 0, 0, 1); */
}

#solidcast-subtitle {
    line-height: 1.25;
    color: var(--color-1);
    font-weight: 400;
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Regular';
    margin: 0;
    text-shadow: 0px 0px 0px var(--color-1-light);
}

/* --------------------------------------------------------------------
 * # SOLIDCAST - BODY
 * -------------------------------------------------------------------- */

.solidcast-body-wrapper {
    margin: 0;
    padding: 0 0 0 calc(var(--gutter)* 2);
    display: flex;
    flex-flow: row wrap;
}

.solidcast-body-wrapper .column {
    padding: 0 var(--vspace-1) 0 0;
    margin: 0 0 var(--vspace-0_5) 0;
}

.solidcast-body-wrapper .key-points {
    height: var(--vspace-7_5);
}

/* --------------------------------------------------------------------
 * # SOLIDCAST - BODY - KEY POINTS BACKGROUND
 * -------------------------------------------------------------------- */

.key-points::before {
    content: "";
    position: absolute;
    background: var(--color-white);
    pointer-events: none;
    opacity: 75%;
    width: inherit;
    height: inherit;
    z-index: -1;
}

/* --------------------------------------------------------------------
 * # SOLIDCAST - BODY - KEY POINTS FONTS
 * -------------------------------------------------------------------- */

.solidcast-text-head {
    line-height: 1.25;
    font-weight: 100;
    padding: 0 0 var(--vspace-0_25) 0;
    position: relative;
    font-family: 'Monument Extended Regular';
    margin: 0;
}

.solidcast-text-head#sth-1 {
    color: var(--color-gray-19);
    padding: 0 0 var(--vspace-0_375) 0;
}

.solidcast-text-head#sth-2 {
    color: var(--color-1);
}

.solidcast-text-head#sth-3 {
    color: var(--color-gray-19);
    letter-spacing: 0em;
    font-size: calc(var(--text-size) * 1);
}

.solidcast-text {
    padding: 0 calc(var(--gutter) * 1) calc(var(--gutter) * 0.75) calc(var(--gutter) * 2);
    font-family: var(--font-1);
    font-size: var(--base-font-size);
    font-weight: 400;
    line-height: var(--vspace-1);
    text-align: justify;
    font-family: 'Montserrat Regular';
}

.solidcast-text monument {
    font-family: 'Monument Extended Regular';
}

.solidcast-text#stt-1 {
    padding: 0;
}

/* --------------------------------------------------------------------
 * # SOLIDCAST - FOOTER
 * -------------------------------------------------------------------- */

#solidcast-foot {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#solidcast-foot-photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    #solidcast-head {
        height: var(--vspace-8_75);
    }

    #solidcast-title {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    #solidcast-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    .solidcast-text {
        padding: 0 calc(var(--gutter)* 1) calc(var(--gutter)* 0.75) calc(var(--gutter) * 1);
    }

    .solidcast-body-wrapper {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }
}

@media screen and (max-width: 750px) {
    #solidcast-head {
        height: var(--vspace-7_5);
    }

    h3#sth-1 {
        font-size   : var(--text-lg);
    }

    #solidcast-title {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }

    #solidcast-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }

    .solidcast-text {
        padding: 0 calc(var(--gutter)* 1) calc(var(--gutter)* 0.75) calc(var(--gutter) * 0.5);
    }

    .solidcast-body-wrapper {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
    }
}

@media screen and (max-width: 550px) {
    #solidcast-head {
        height: var(--vspace-5);
    }

    h1#solidcast-title {
        font-size   : var(--text-xxxl);
    }

    h3#solidcast-subtitle {
        font-size   : var(--text-lg);
    }
}

@media screen and (max-width: 400px) {
    #solidcast-head {
        height: var(--vspace-4);
    }

    h1#solidcast-title {
        font-size   : var(--text-xxl);
    }

    h3#solidcast-subtitle {
        font-size   : var(--text-md);
    }

    h3#sth-1 {
        font-size   : var(--text-md);
    }
}

/* ===================================================================
 * # PRODUCTS SECTION
 *
 *
 * ------------------------------------------------------------------- */
.product {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: var(--vspace-2) 0;
    background: var(--color-gray-19);
}

/* --------------------------------------------------------------------
 * # PRODUCTS - HEAD
 * -------------------------------------------------------------------- */
.product-head {
    display: flex;
    align-items: center;
}

.product-head::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-gray-19);
}

.product-title {
    line-height: 1;
    color: var(--color-white);
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Ultra Bold';
    margin: 0;
}

.product-subtitle {
    line-height: 1.25;
    color: var(--color-1);
    font-weight: normal;
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Regular';
    margin: 0;
    text-shadow: 0px 0px 0px var(--color-1-light);
}

/* --------------------------------------------------------------------
 * # PRODUCTS - HEAD - BRAKE DISC
 * -------------------------------------------------------------------- */

.product-head#brake-disc {
    height: var(--vspace-6);
}

/* --------------------------------------------------------------------
 * # PRODUCTS - HEAD - COMING SOON
 * -------------------------------------------------------------------- */
.product-head#coming-soon {
    height: var(--vspace-4);
}

/* --------------------------------------------------------------------
 * # PRODUCT - BODY
 * -------------------------------------------------------------------- */

.product-body-wrapper {
    margin: 0;
    padding: 0 calc(var(--gutter)* 2);
    display: flex;
    flex-flow: row wrap;
}

.product-body-wrapper .column {
    /* padding: 0 var(--vspace-1) 0 0; */
    margin: 0 0 var(--vspace-0_5) 0;
}

.product-body-wrapper .column:nth-of-type(1) {
    padding: 0 var(--vspace-0_5) 0 0;
}

/* --------------------------------------------------------------------
 * # PRODUCT - BODY - SHOWCASE FONTS
 * -------------------------------------------------------------------- */

.product-text-head {
    line-height: 1.25;
    font-weight: 100;
    padding: 0 0 var(--vspace-0_25) 0;
    position: relative;
    font-family: var(--font-1);
    margin: 0;
    font-family: 'Montserrat Regular';
}

.product-text-head#sth-1 {
    color: var(--color-white);
    padding: 0 0 var(--vspace-0_375) 0;
}

.product-text-head#sth-3 {
    color: aliceblue;
    padding: 0 0 var(--vspace-0_375) 0;
    font-size: var(--text-lg);
}

.product-text-head#sth-2 {
    color: var(--color-gray-15);
    padding: 0 0 var(--vspace-0_375) 0;
    line-height: 1.75;
}

/* --------------------------------------------------------------------
 * # PRODUCT - BODY - SHOWCASE IMAGES
 * -------------------------------------------------------------------- */

.showcase {
    aspect-ratio: 1/1;
    width: 50%;
}

.showcase-card {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    background: var(--color-black);
    border : 1px solid var(--color-gray-15);
}

.showcase-card video {
    transition: 0.5s;
    transform: scale(0.9);
}

.showcase-card::before {
    transition: 0.5s;
    content: "";
    color: var(--color-white);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0%;
    z-index: 1;
    padding: var(--vspace-0_75);
    font-size: var(--text-lg);
    font-family: 'Monument Extended Ultra Bold';
    cursor: pointer;
}

.showcase-card::after {
    transition: 0.5s;
    content: "";
    color: var(--color-white);
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0%;
    z-index: 1;
    top: -100%;
    justify-content: center;
    align-items: center;
    content: "Learn More";
    font-family: 'Montserrat Regular';
    font-size: var(--text-md);
}

#sc-1::before {
    content: "STREET SERIES";
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
}

#sc-2::before {
    content: "COMPETITION SERIES";
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
}

.showcase-card:hover::before {
    opacity: 100%;
    cursor: pointer;
}

.showcase-card:hover::after {
    opacity: 100%;
    cursor: pointer;
}

.showcase-card:hover video {
    transform: scale(1);
} 

/* SHOWCASE MODAL */

.modal-popup {
    max-width: 1000px;
    background-color: var(--color-gray-18);
    font-size: calc(var(--text-size) * 0.25);
    line-height: var(--vspace-0_75);
    color: var(--color-white);
    overflow-y: auto;
    position: relative;
    text-align : center;
    margin: 0 var(--vspace-1);
    padding: var(--vspace-1) 0;
}

/* --------------------------------------------------------------------
 * # PRODUCTS - BODY - COMING SOON - IMAGE
 * -------------------------------------------------------------------- */
.product-body#coming-soon img#preview {
    width: 80%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

@media screen and (max-width: 900px) {
    .product-title {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    .product-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    .product-body-wrapper {
        padding: 0  calc(var(--gutter) * 1);
    }

    .product-body#coming-soon img#preview {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .product-head#brake-disc {
        height: var(--vspace-5);
    }

    .product-title {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
        font-size: var(--text-display-1);
    }

    .product-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
        font-size: var(--text-sm);
    }

    .product-body-wrapper {
        padding: 0  calc(var(--gutter) * 0.5);
    }

    #coming-soon .product-body-wrapper .row:nth-of-type(2){
        width: 100%;
        padding: 0;
    }

    .product-text-head#sth-1 {
        font-size: var(--text-lg);
    }

    .showcase {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .product-title {
        font-size: var(--text-xxxl);
    }
}

@media screen and (max-width: 550px) {
    #coming-soon .product-body-wrapper .row:nth-of-type(2){
        padding: var(--vspace-0_25) 0;
    }
}


/* ===================================================================
 * # BRIX ON TRACKS SECTION
 *
 *
 * ------------------------------------------------------------------- */

/* --------------------------------------------------------------------
 * # BRIX ON TRACKS
 * -------------------------------------------------------------------- */
.brix-on-tracks {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#brix-on-tracks-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#brix-on-tracks-photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 5/4;
}

/* ===================================================================
 * # DISTRIBUTORS SECTION
 *
 *
 * ------------------------------------------------------------------- */
.distributor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: var(--vspace-2_5) 0;
    background-color: var(--color-gray-19);
}

/* --------------------------------------------------------------------
 * # DISTRIBUTORS - HEAD
 * -------------------------------------------------------------------- */
.distributor-head {
    display: flex;
    align-items: center;
    height: var(--vspace-5);
    padding: 0 0 var(--vspace-0_75) 0;
}

.distributor-head .column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.distributor-title {
    line-height: 1.25;
    font-weight: 100;
    padding: 0 0 var(--vspace-0_25) 0;
    position: relative;
    font-family: var(--font-1);
    margin: 0;
    font-family: 'Monument Extended Regular';
    color: var(--color-white);
    padding: 0 0 var(--vspace-0_375) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-xxl);
    text-align: center;
}

/* --------------------------------------------------------------------
 * # DISTRIBUTORS - BODY
 * -------------------------------------------------------------------- */

/* .distributor-body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-gray-19);
}

.distributor-body-wrapper {
    margin: 0;
    padding: 0 calc(var(--gutter)* 2);
    display: flex;
    flex-flow: row wrap;
}

.distributor-body-wrapper .column {
    margin: 0 0 var(--vspace-0_5) 0;
} */

/* --------------------------------------------------------------------
 * # DISTRIBUTORS - BODY
 * -------------------------------------------------------------------- */
.distributor-body {
    display: flex;
    align-items: center;
    padding: 0 0 var(--vspace-1_5) 0;
}

.distributor-map {
    line-height: 1;
    color: var(--color-black);
    padding: 0 calc(var(--gutter) * 2) 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Ultra Bold';
    margin: 0;
}

/* ===================================================================
 * # RECENT ARTICLES SECTION
 *
 *
 * ------------------------------------------------------------------- */
.recent-articles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: var(--vspace-2) 0;
    background-color: var(--color-gray-19);
}

/* --------------------------------------------------------------------
 * # PRODUCTS - HEAD
 * -------------------------------------------------------------------- */
.recent-articles-head {
    display: flex;
    align-items: center;
    padding: 0 0 var(--vspace-1_5) 0;
}

.recent-articles-head::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.recent-articles-title {
    line-height: 1;
    color: var(--color-black);
    padding: 0 0 0 calc(var(--gutter) * 2);
    position: relative;
    font-family: 'Monument Extended Ultra Bold';
    margin: 0;
}

/* --------------------------------------------------------------------
 * # RECENT ARTICLES - BODY
 * -------------------------------------------------------------------- */

.recent-articles-body {
    height: fit-content;
}

/* .recent-articles-body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-gray-1);
} */

.recent-articles-body-wrapper {
    margin: 0;
    padding: 0 calc(var(--gutter)* 2);
    display: flex;
    flex-flow: row wrap;
}

.recent-articles-body-wrapper .column {
    margin: 0 0 var(--vspace-0_5) 0;
}

.recent-articles-card {
    position: relative;
    margin: 0 var(--vspace-0_25);
    transition: 0.5s;
    cursor: pointer;
}

.recent-articles-card:hover {
    transform: scale(1.025);
    z-index: 1;
}

.recent-articles-card:hover .recent-articles-caption .title a {
    font-size: calc(var(--text-sm) * 1.01);
    color: #fc3f00;
}

.recent-articles-category {
    width: fit-content;
    position: absolute;
    margin: var(--vspace-0_25);
    opacity: 90%;
}

.recent-articles-category p {
    background: var(--color-gray-10);
    padding: var(--vspace-0_25);
    font-family: 'Monument Extended Regular';
    font-size: calc(var(--text-xs) * 0.75);
}

.recent-articles-img img {
    width: 100%;
    aspect-ratio: 4/3;
    display: block;
}

.recent-articles-caption {
    background: var(--color-white);
    width: 100%;
    transition: all 0.4s ease-out 0s;
    background-color: var(--color-gray-5);
    aspect-ratio: 4/3;
    padding: var(--vspace-0_5);
    font-family: 'Monument Extended Regular';
}

.recent-articles-caption .date {
    height: fit-content;
    margin-bottom: var(--vspace-0_25);
}

.recent-articles-caption .date p {
    font-family: 'Montserrat Medium';
    font-size: var(--text-xs);
}

.recent-articles-caption .title {
    height: fit-content;
    margin-bottom: var(--vspace-0_25);
}

.recent-articles-caption .title a {
    font-family: 'Monument Extended Regular';
    font-size: var(--text-sm);
    transition: 0.5s;
    font-weight: 400;
    color: var(--color-black);
}

.recent-articles-caption .subtitle {
    height: fit-content;
    margin-bottom: var(--vspace-0_25);
}

.recent-articles-caption .subtitle p {
    font-family: 'Montserrat Medium';
    font-size: var(--text-sm);
    transition: 0.5s;
    font-weight: 400;
    color: var(--color-black);
}

.recent-articles-caption span {
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
}

.recent-articles-caption h4 {
    margin: 0;
    line-height: 1;
}

.recent-articles-caption h4 a {
    font-size: 18px;
    font-weight: 500;
}

.recent-articles-caption h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (max-width: 900px) {
    .recent-articles-title {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    .recent-articles-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 1);
    }

    .recent-articles-body-wrapper {
        padding: 0  calc(var(--gutter) * 1);
    }
}

@media screen and (max-width: 750px) {
    .recent-articles-title {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
        font-size: var(--text-xxxl);
    }

    .recent-articles-subtitle {
        padding: 0 0 0 calc(var(--gutter) * 0.5);
        font-size: var(--text-sm);
    }

    .recent-articles-body-wrapper {
        padding: 0  calc(var(--gutter) * 0.5);
    }
}

@media screen and (max-width: 650px) {
    .recent-articles-title {
        font-size: var(--text-xxl);
    }
}

@media screen and (max-width: 600px) {

    .recent-articles-caption {
        aspect-ratio: auto;
    }
}